h1 {
    text-transform: uppercase;
    color: red;
    text-align: center;

}

h2 {
    color: green;
}

#myself{
    font-family: Arial,Helvetica, sans-serif;
}

.heading{
    text-decoration: underline;
}

#p_myself, ul li{
    font-style: italic;
}

p {
    font-size: 150%;
}

@media (max-width: 500px){
                background-color: red;
                font-size: 200%
            }
