h1 {
    text-transform: uppercase;
    color: purple;
    text-align: center;
}

h2 {
    color: green;
}

#myself{
    font-family: Arial,Helvetica, sans-serif;
}

.heading{
    text-decoration: underline;
}

#p_myself, ul li{
    font-style: italic;
}

body {
    background-color: orange;
    font-size: 150%
}

@media only screen and (max-width: 830px){
                body{
                background-color: red;
                font-size: 200%;
                }
}
